<html>
  <head>
    <script src="https://cloud.tinymce.com/stable/tinymce.min.js?apiKey=2kvpjj3hf38vl8lsh11cuu5ytmmkbtzkclboh4k12szfu51r"></script>
    <script src='/main.js'></script>
    <script>
      var current = '';
      tinymce.init({
        selector: '#notepad',
      });
      setInterval(checkProgress, 2000);
      getNoteValue();
    </script>
  </head>
  <body onload="loadEditor()">
    <h1><%= note.name %></h1>
    <textarea name='value' id='notepad'></textarea>
  </body>
</html>
