<html>
  <head>
    <title>Pen9</title>
    <link rel="stylesheet" type="text/css" href="pen9.css">
    <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">
  </head>
  <body>
    <header>
      <navbar class='linkbubble'>
        <a href='/login'>Login</a>
        <a href='/create'>Create Account</a>
      </navbar>
    </header>
    <div class='screenImg'>
      <h1>Pen9</h1>
      <p>Light, simple and easy to use: Your personal notepad</p>
    </div>
    <footer id='indexFooter'>
      <navbar id='indexFooterNav'>
        <a href='/termsofservice'>Terms of Service</a>
        <a href='/privacypolicy'>Privacy Policy</a>
        <a href='https://github.com/maxrumsey/pen9'>GitHub</a>
      </navbar>
    </footer>
  </body>
</html>
