body {
  font-family: 'Inconsolata', monospace;
  margin: 0;
}
#pageBox {
  position:fixed;
  top: 50%;
  left: 50%;
  width:30em;
  height:27em;
  margin-top: -12.5em; /*set to a negative number 1/2 of your height*/
  margin-left: -15em; /*set to a negative number 1/2 of your width*/
  border-radius: 16px;
  background-color: #f3f3f3;
  padding: 15px;
  text-align: center;
}
#pageBox input {
  display: block;
  margin: 1em auto;
  border: none;
  border-radius: 16px;
  padding: 15px;
}
#gradientBackground {
  background-image: linear-gradient(to bottom right, #FFD151, #F0A202);
}
.bottomLeftBox {
  position: fixed;
  left: 0;
  bottom: 0;
}
#return {
  background-color: #FFDDA1;
  padding: 15px 30px;
}
#return p {
  margin: 0;
}

.linkbubble a {
  float: right;
  padding: 5px;
  margin: 10px 20px;
  padding: 10px 15px;
  border-radius: 20px;
  background-color: #FFD151;
  color: black;
  text-decoration: none;
  font-size: 15px;
}
.linkbubble {
  display: block;
  height: 3.5em;
}
.screenImg {
  background-image: url('https://images.pexels.com/photos/606541/pexels-photo-606541.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  padding: 25vh 20vw;
}
.screenImg p {
  background-color: #FFD151;
  padding: 20px;
  margin-left: 45px;
  margin-top: -30px;
}
.screenImg h1 {
  background-color: #FFD151;
  padding: 20px;
}
#indexFooterNav a {
  float: right;
  padding: 5px;
  margin: 10px 20px;
  padding: 10px 15px;
  border-radius: 20px;
  background-color: #FFD151;
  color: black;
  text-decoration: none;
  font-size: 15px;
}
#failBox {
  background-color: #ffa0a0;
  border: 1px solid #f23535;
  border-left-width: 16px;
}
#userinfo-header {
  display: block;
  padding: 15px;
}
#userinfo-header a {
  float: right;
  margin-right: 15px;
  padding: 5px;
  background-color: yellow;
  color: black;
  border: 1px solid black;
  text-decoration: none;
}
#userinfo-header #normal {
  color: black;
  background-color: white !important;
  border-color: white;
}
#dash-notes {
  margin: 0 20vw;
}
.note {
  background-color: orange;
  padding: 15 20px;
  border: 3px solid orange;
}
.note:hover {
  border: 3px solid yellow;
}
.note:nth-child(even) {
  background-color: yellow;
  border: 3px solid yellow;
}
.note:nth-child(even):hover {
  border-color: orange;
}
.note .name {
  display: block;
  margin-bottom: 16px;
}
.note a {
  float: right;
}
