<html>
  <head>
    <title>New | Pen9</title>
  </head>
  <body>
    <form id='newNoteForm' method="post" action="/note/new">
      <input type="text" name='noteName'>
      <input type='submit'>
    </form>
  </body>
</html>
